<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ASMHT-Dungnqph20106</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">

                <a href="index.html" class="header-logo">
                    <img src="images/logo.png" class="img-fluid rounded-normal" alt="">
                    <div class="container" style="box-shadow: 0 0px 10px rgba(187, 51, 255, 0.8);">
                    <div class="logo-title">
                        <span class="text-primary text-uppercase"> home appliance store </span> 
                    </div>
                    </div>
                </a>
            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li><a asp-controller="Home" asp-action="Index"><i class="las la-home iq-arrow-left"></i><span>Trang Chủ</span></a></li>
                        <li><a asp-controller="PhanHoi" asp-action="GetAllPhanHoi"><i class="las la-home iq-arrow-left"></i><span>Phan Hoi</span></a></li>
                        <li><a asp-controller="KhuyenMai" asp-action="GetAllKhuyenMai"><i class="las la-home iq-arrow-left"></i><span>Khuyen Mai</span></a></li>
                        <li><a asp-controller="Voucher" asp-action="GetAllVoucher"><i class="las la-home iq-arrow-left"></i><span>Voucher</span></a></li>


                        @*<li><a asp-controller="SanPhams" asp-action="ShowSanPham1"><i class="ri-question-answer-line"></i>SanPham </a></li>*@
                      @*  <li><a asp-controller="HoaDon" asp-action="ShowListBill"><i class="ri-question-answer-line"></i>Hoa Don </a></li>*@


                      @*  <li><a asp-controller="Home" asp-action="Login"><i class="ri-book-line"></i>Đăng Nhập</a></li>
                        <li><a asp-controller="Home" asp-action="SingOut"><i class="ri-book-line"></i>Đăng xuất</a></li>*@
                        

                    </ul>
                </nav>
            </div>

        </div>
        <!-- TOP Nav Bar -->

        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="iq-menu-bt d-flex align-items-center">
                        <div class="wrapper-menu">
                            <div class="main-circle"><i class="las la-bars"></i></div>
                        </div>
                        <div class="iq-navbar-logo d-flex justify-content-between">
                            <a href="index.html" class="header-logo">
                                <img src="images/logo.png" class="img-fluid rounded-normal" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="navbar-breadcrumb">
                        <h5 class="mb-0">Dũng Đẹp Choai Nhất Thế Giới  </h5>
                    </div>
                  @*  <div class="iq-search-bar">
                        <form action="#" class="searchbox">
                            <input type="text" class="text search-input" placeholder="Tìm kiếm sản phẩm...">
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                        </form>
                    </div>*@
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">


                            <li class="nav-item nav-icon dropdown">
                                <a asp-controller="GioHang" asp-action="ShowCart" class="search-toggle iq-waves-effect text-gray rounded">
                                    <i class="ri-shopping-cart-2-line"></i>
                                </a>

                            </li>
                            <li class="line-height pt-3">
                                <a href="#" class="search-toggle iq-waves-effect d-flex align-items-center">
                                    <img src="images/user/PH20106.jpg" class="img-fluid rounded-circle mr-3" alt="user">
                                    <div class="caption">
                                        <h6 class="mb-1 line-height">Dung Dep Choai</h6>
                                        @*<p class="mb-0 text-primary">Tài Khoản</p>*@
                                    </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- TOP Nav Bar END -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Wrapper END -->
    <!-- Footer -->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    Copyright 2023 <a href="#">DungDepChoai</a> All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Style Customizer -->
    <script src="~/js/style-customizer.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="~/js/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>