﻿﻿﻿@{
    ViewData["Title"] = "Privacy Policy";
    var result = ViewData["result"];
}
<form asp-action="Privacy">
    <input class="form-control" style="width: 350px; " id="exampleFormControlInput1" name="money"
           placeholder="Số tiền vay" />
    <br />
    <input class="form-control" style="width: 350px; " id="exampleFormControlInput1" name="day"
           placeholder="Số ngày nợ" />
    <br />
    <input class="form-control" style="width: 350px; " id="exampleFormControlInput1" name="percent"
           placeholder="Lãi suất (%)" />
    <br />
    <button type="submit" style="width: 350px" class="btn btn-dark">
        Tiền báo
    </button>
</form>

@if (result != null)
{
    <h5>Tiền Phải trả: @result</h5>
}
<br />
<br />